//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1991, 1994 by Borland International
//   Tutorial application -- step08.rc
//----------------------------------------------------------------------------
#include <owl/inputdia.rc>
#include <owl/except.rc>

#define CM_FILENEW    201
#define CM_FILEOPEN   202
#define CM_FILESAVE   203
#define CM_FILESAVEAS 204
#define CM_ABOUT      205
#define CM_PENSIZE    206
#define IDD_ABOUT     211

#ifdef RC_INVOKED 
#ifndef WORKSHOP_INVOKED
# include <winresrc.h>
#endif

COMMANDS MENU 
{
 POPUP "&File"
 {
  MENUITEM "&New",     CM_FILENEW
  MENUITEM "&Open",    CM_FILEOPEN
  MENUITEM "&Save",    CM_FILESAVE
  MENUITEM "Save &As", CM_FILESAVEAS
 }
 POPUP "&Tools"
 {
  MENUITEM "Pen &Size",  CM_PENSIZE
 }
 POPUP "&Help"
 {
  MENUITEM "&About",   CM_ABOUT
 }
}

IDD_ABOUT DIALOG 37, 25, 170, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "About Drawing Pad"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "Ok", IDOK, 60, 73, 50, 14
 CONTROL "ObjectWindows 6.0 Tutorial Application", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 43, 150, 10
 CONTROL "Copyright 1991, 1996 by Borland International.\nCopyright 1998-1999 by Yura Bidus", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 51, 164, 18
 CONTROL "IDI_TUTORIAL", -1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE, 78, 11, 14, 16
 CONTROL "Drawing Pad", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 34, 150, 8
}

IDI_TUTORIAL ICON "lamp.ico"

#endif  // RC_INVOKED
