//----------------------------------------------------------------------------
// ObjectWindows - (C) Copyright 1991, 1994 by Borland International
//   Tutorial application -- step11dv.rc
//----------------------------------------------------------------------------
#define CM_PENSIZE    306
#define CM_PENCOLOR   307
#define IDM_DRAWVIEW  213
#define IDS_FILEINFO  214
#define IDB_DRAWVIEW  215

#define APSTUDIO_READONLY_SYMBOLS

#ifdef RC_INVOKED
#ifndef WORKSHOP_INVOKED
# include <winresrc.h>
#endif

#include <owl/inputdia.rc>
#undef APSTUDIO_READONLY_SYMBOLS

IDM_DRAWVIEW MENU
{
 POPUP "&Tools"
 {
  MENUITEM "Pen &Size",  CM_PENSIZE
  MENUITEM "Pen &Color", CM_PENCOLOR
 }
}

STRINGTABLE
{
 CM_PENSIZE, "Changes the pen width"
 CM_PENCOLOR, "Changes the pen color"
 IDS_FILEINFO, "Lines from Step 11"
}

IDB_DRAWVIEW TOOLBAR 20, 20
{
 BUTTON -1
 BUTTON CM_PENSIZE
 BUTTON CM_PENCOLOR
 BUTTON -1
}

IDB_DRAWVIEW BITMAP "dvdraw.bmp"

#endif  // RC_INVOKED

