//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1995, 1995 by Borland International, All Rights Reserved
//----------------------------------------------------------------------------
#include <owl/owlapp.rc>
#include <owl/glyphbtn.rc>
#include <owl/except.rc>
#include <owl/window.rh>
#include "glyphDem.rh"

#ifndef WORKSHOP_INVOKED
#include "windows.h"
#endif

//IDB_BORBTNII_KEY BITMAP "btn_key.bmp"

//IDB_BORBTNII_OK BITMAP "btn_ok.bmp"
//IDB_BORBTNII_OKG BITMAP "btn_okg.BMP"

//IDB_BORBTNII_CANCEL BITMAP "btn_canc.BMP"
//IDB_BORBTNII_CANCELG BITMAP "btn_cancg.BMP"

//IDB_BORBTNII_NO BITMAP "btn_no.BMP"
//IDB_BORBTNII_NOG BITMAP "btn_nog.BMP"

//IDB_BORBTNII_HELP BITMAP "btn_hlp.BMP"

IDB_BORBTNII_HELPG BITMAP "btn_hlpg.bmp"

IDD_CLIENTDLG DIALOG 6, 15, 173, 146
STYLE DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "Glyph Button"
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 4, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 22, 50, 14
 CONTROL "&Yes", IDYES, "button", BS_PUSHBUTTON | BS_CENTER | BS_VCENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 40, 50, 14, 0
 CONTROL "&No", IDNO, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 57, 50, 14, 0
 CONTROL "&Close", IDC_CLOSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 74, 50, 34, 0
 CONTROL "&Abort", IDABORT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 111, 50, 32, 0
 CONTROL "&Ignore", IDIGNORE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 4, 50, 36, 0
 CONTROL "&Help", IDHELP, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 44, 50, 32
 CONTROL "&Apply", IDC_APPLY, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 80, 50, 14, 0
 CONTROL "&Browse", IDC_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 96, 50, 14, 0
 CONTROL "&Revert", IDC_REVERT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 113, 50, 14, 0
 CONTROL "&Add", IDC_ADD, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 4, 50, 14, 0
 CONTROL "&Delete", IDC_DELETE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 22, 50, 14, 0
 CONTROL "&Edit", IDC_EDIT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 40, 50, 14, 0
 CONTROL "&Key", IDC_KEY, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 57, 50, 14, 0
 CONTROL "&Setup", IDC_SETUP, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 76, 50, 14, 0
 CONTROL "&MyHelp", IDC_MHELP, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 94, 50, 16, 0
 CONTROL "Enabled", IDC_ENABLEHELP, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 112, 55, 14
 CONTROL "Windows Btn", IDC_BUTTON2, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 129, 50, 14
 CONTROL "Only Text", IDC_BUTTON3, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 116, 128, 48, 14
}
