//----------------------------------------------------------------------------
// ObjectWindows - (c) Copyright 1991, 1996 by Borland International
//----------------------------------------------------------------------------
#ifndef WORKSHOP_INVOKED
  #include <windows.h>
#endif
#include <owl/mdi.rh>           // Get mdi resource & command ids
#include <owl/window.rh>        // More resource & command ids
#include "mdifile.h"

#include <owl/except.rc>        // Get exception string resources
#include <owl/editsear.rc>      // Get TEditSearch resources
#include <owl/editfile.rc>      // Get TEditFile resources
#include <owl/statusba.rc>      // Get status bar's sysmenu strings


// Add a new accelerator here for use in the app.
//

IDA_MDIFILE ACCELERATORS
{
  VK_F12, CM_FILEOPEN, VIRTKEY
}

IDM_EDITFILE_DOC MENU
{
  POPUP "&File"
  {
    MenuItem "&New",        CM_FILENEW
    MenuItem "&Open...",    CM_FILEOPEN
    MenuItem "&Save",       CM_FILESAVE, GRAYED
    MenuItem "Save &As...", CM_FILESAVEAS, GRAYED
    MenuItem SEPARATOR
    MenuItem "E&xit",       CM_EXIT
  }
  POPUP "&View"
  {
    POPUP "&Decorations"
    {
      MenuItem "&Status bar",    IDW_STATUSBAR, CHECKED
      MenuItem "&Toolbar",       IDW_TOOLBAR, CHECKED
    }
    MenuItem "&Flyover Hints", CM_TOGGLEHINT, CHECKED
  }
  POPUP "&Window"
  {
    MenuItem "&Cascade",       CM_CASCADECHILDREN, GRAYED
    MenuItem "&Vertical",    CM_TILECHILDREN, GRAYED
    MenuItem "&Horizontal",  CM_TILECHILDRENHORIZ, GRAYED
    MenuItem "Arrange &Icons", CM_ARRANGEICONS, GRAYED
    MenuItem "C&lose All",     CM_CLOSECHILDREN, GRAYED
  }
}

IDM_EDITFILE_CHILD MENU
{
  POPUP "&Edit"
  {
    MenuItem  "&Undo\aCtrl+Z",        CM_EDITUNDO
    MenuItem  SEPARATOR
    MenuItem  "&Cut\aCtrl+X",         CM_EDITCUT
    MenuItem  "C&opy\aCtrl+C",        CM_EDITCOPY
    MenuItem  "&Paste\aCtrl+V",       CM_EDITPASTE
    MenuItem  "&Delete\aDel",         CM_EDITDELETE
    MenuItem  "C&lear All\aCtrl+Del", CM_EDITCLEAR
  }

  POPUP "&Search"
  {
    MenuItem "&Find...",    CM_EDITFIND
    MenuItem "&Replace...", CM_EDITREPLACE
    MenuItem "&Next\aF3",   CM_EDITFINDNEXT
  }
}

STRINGTABLE
{
  // File popup
  //
  CM_FILENEW-1, "Create, open and save documents"
  CM_FILENEW, "Creates a new document"
  CM_FILEOPEN, "Opens an existing document"
  CM_FILESAVE, "Saves the active document"
  CM_FILESAVEAS, "Saves the active document with a new name"
  CM_EXIT, "Quits MDI File Editor and prompts to save document(s)"

  // View popup
  //
  IDW_STATUSBAR-2, "Display or hide toolbar, status bar and hint text"
  IDW_STATUSBAR-1, "Show or hide toolbar and status bar"
  IDW_STATUSBAR, "Toggles display of status bar"
  IDW_TOOLBAR, "Toggles display of tool bar"
  CM_TOGGLEHINT, "Toggles tool bar hint mode\nToggle hint"


  // Window popup
  //
  CM_CASCADECHILDREN-1, "Manage MDI child windows"
  CM_CASCADECHILDREN, "Cascades open windows"
  CM_TILECHILDREN, "Tiles open windows vertically"
  CM_TILECHILDRENHORIZ, "Tiles open windows horizontally"
  CM_ARRANGEICONS, "Arranges iconic windows along bottom"
  CM_CLOSECHILDREN, "Closes all open windows"

  // Addition buttons on toolbar
  //
  CM_TOGGLEBAR, "Toggles tool bar position\nToolbar position"
  CM_TESTSTATE, "Current not in use\nDummy button"
}

IDI_DOC ICON					"res/appldocv.ico"		
IDI_MULTIFILE ICON		"res/applmdi.ico"
CM_FILEPRINT BITMAP		"res/print.bmp"
CM_EDITREPLACE BITMAP "res/replace.bmp"
CM_TOGGLEHINT BITMAP  "res/toggleh.bmp"
CM_TOGGLEBAR BITMAP		"res/toggleb.bmp"
CM_SETUP BITMAP				"res/setup.bmp"
CM_TESTSTATE BITMAP		"res/test.bmp"

