#include "CheckLstApp.rh"

#include <owl/inputdia.rc>

MENU_1 MENU
{
 POPUP "&TEST"
 {
  MENUITEM "&Test", CM_TEST
  MENUITEM "&About", CM_ABOUT
 }
}

IDD_TEST DIALOG 94, 72, 334, 164
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "CheckLst Test Dialog"
FONT 8, "MS Sans Serif"
{
 CONTROL "&Sorted Listbox:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 4, 66, 8
 CONTROL "", IDC_LB_SORTED, "listbox", LBS_STANDARD | LBS_OWNERDRAWVARIABLE | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 14, 70, 70
 CONTROL "Set all &3-State", IDC_CB_SET3STATE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 90, 70, 10
 CONTROL "Disable &first item", IDC_CB_DISABLEFIRST, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 6, 104, 70, 10
 CONTROL "Selected item:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 120, 60, 8
 CONTROL "Index:\nState:\nStyle:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 132, 22, 24
 CONTROL "", IDC_STATIC_INDEX, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 30, 132, 46, 8
 CONTROL "", IDC_STATIC_STATE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 30, 140, 46, 8
 CONTROL "", IDC_STATIC_STYLE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 30, 148, 46, 8
 CONTROL "Simple &Listbox:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 86, 4, 70, 8
 CONTROL "", IDC_LB_SIMPLE, "listbox", LBS_NOTIFY | LBS_OWNERDRAWVARIABLE | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 86, 14, 70, 70
 CONTROL "&Add...", IDC_PB_ADD, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 86, 90, 70, 14
 CONTROL "&Rename...", IDC_PB_RENAME, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 86, 104, 70, 14
 CONTROL "&Delete", IDC_PB_DELETE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 86, 118, 70, 14
 CONTROL "&Tabbed Listbox:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 166, 4, 70, 8
 CONTROL "", IDC_LB_TABBED, "listbox", LBS_NOTIFY | LBS_OWNERDRAWVARIABLE | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 166, 14, 164, 70
 CONTROL "Set &Default Tab", IDC_RB_DEFAULTTAB, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 170, 90, 68, 10
 CONTROL "Set &Equal Tab", IDC_RB_EQUALTAB, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 170, 104, 70, 10
 CONTROL "Set Different Ta&b", IDC_RB_DIFFTAB, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 170, 118, 70, 10
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 145, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 278, 145, 50, 14
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 80, 14, 1, 150
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 160, 14, 1, 124
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 80, 138, 334, 1
}

