#include <owl/window.rh>
#include <owl/mdi.rh>

#include "notetabx.rh"

IDM_MDIMENU MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&New Window", CM_NEWWINDOW,
    MENUITEM SEPARATOR
    MENUITEM "C&lose All", CM_CLOSECHILDREN,
    MENUITEM SEPARATOR
    MENUITEM "E&xit", CM_EXIT
  END
  POPUP "&Options"
  BEGIN
    MENUITEM "&3D Style", CM_STYLE3D,
    MENUITEM "&Window Face", CM_WINDOWFACE,
    POPUP "&Tab Scroller"
    BEGIN
      MENUITEM "&Left", CM_LEFTSCROLLER,
      MENUITEM "&Right", CM_RIGHTSCROLLER,
    END
    MENUITEM SEPARATOR
    MENUITEM "&Font...", CM_FONT,
  END
  POPUP "&Window"
  BEGIN
    MENUITEM "&Cascade", CM_CASCADECHILDREN,
    MENUITEM "&Tile", CM_TILECHILDREN,
    MENUITEM "Arrange &Icons", CM_ARRANGEICONS,
  END
END


IDB_IMAGELIST BITMAP 
{
 '42 4D F6 01 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 30 00 00 00 10 00 00 00 01 00 04 00 00 00'
 '00 00 80 01 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'F0 00 00 0F FF FF FF FF F0 00 00 0F FF FF F0 00'
 '00 00 00 00 00 0F FF FF 0B BB BB B0 FF FF FF FF'
 '0B BB BB B0 FF FF FF 0E EE EE EE EE E0 FF FF F0'
 'BB BB BB BB 0F FF FF F0 BB BB BB BB 0F FF FF F0'
 'EE EE EE EE 0F FF FF 0B BB 00 00 BB B0 FF FF 0B'
 'BB BB BB BB B0 FF FF FF 0E EE EE E0 FF FF F0 BB'
 'B0 BB BB 0B BB 0F F0 BB B0 BB BB 0B BB 0F FF FF'
 'F0 EE EE 0F FF FF F0 BB 0B BB BB B0 BB 0F F0 BB'
 'BB 00 00 BB BB 0F FF FF FF 0E E0 FF FF FF F0 BB'
 'BB BB BB BB BB 0F F0 BB BB BB BB BB BB 0F FF FF'
 'FF F0 0F FF FF FF F0 BB BB BB BB BB BB 0F F0 BB'
 'BB BB BB BB BB 0F FF FF FF F0 0F FF FF FF F0 BB'
 '00 BB BB 00 BB 0F F0 BB 00 BB BB 00 BB 0F FF FF'
 'FF 0A A0 FF FF FF F0 BB 00 BB BB 00 BB 0F F0 BB'
 '00 BB BB 00 BB 0F FF FF F0 AA AA 0F FF FF FF 0B'
 'BB BB BB BB B0 FF FF 0B BB BB BB BB B0 FF FF FF'
 '0A AA AA A0 FF FF FF F0 BB BB BB BB 0F FF FF F0'
 'BB BB BB BB 0F FF FF F0 AA AA AA AA 0F FF FF FF'
 '0B BB BB B0 FF FF FF FF 0B BB BB B0 FF FF FF 0A'
 'AA AA AA AA A0 FF FF FF F0 00 00 0F FF FF FF FF'
 'F0 00 00 0F FF FF F0 00 00 00 00 00 00 0F FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF'
}

